---
layout: default
title: Dyspoezja
---

<p><a href="/spis-tresci">Spis treści</a></p>

<h1>Dyspoezja</h1>

<p>Te niewiersze pisze <a href="{{ site.rootSiteUrl }}">Leszek</a>.</p>

<p>Brzydzę się praktycznie wszystkimi wierszami, które czytałem. W akcie zemsty zacząłem pisać antywiersze, ale okazało się, że to są wiersze. Przegrałem.</p>

{% assign byYears = site.niewiersze | group_by: "year" | sort: "name" | reverse %}
{% for year in byYears %}
  <h2><time>{{ year.name }}</time></h2>

  {% for niewiersz in year.items %}
  <article>
    <h3><a href="{{ niewiersz.url }}">{{ niewiersz.title }}</a></h3>
    <pre>{{ niewiersz.content }}</pre>
    {% if niewiersz.note %}<p><i>{{ niewiersz.note }}</i></p>{% endif %}
  </article>
  {% endfor %}
{% endfor %}

<p><a href="{{ site.sourceUrl }}">ΑΩ</a></p>
