---
layout: default
title: Dyspoezja
---

<p><a href="/spis-tresci">Spis treści</a></p>

<h1>Dyspoezja</h1>

<p>Te niewiersze pisze <a href="{{ site.rootSiteUrl }}">Leszek</a>.</p>

{% assign byYears = site.niewiersze | group_by: "year" | sort: "name" | reverse %}
{% for year in byYears %}
<p><time>{{ year.name }}</time></p>

{% for niewiersz in year.items %}
<article>
    <h2><a href="{{ niewiersz.url }}">{{ niewiersz.title }}</a></h2>
    <pre>{{ niewiersz.content }}</pre>
</article>
{% endfor %}
{% endfor %}