---
layout: default
title: Spis treści @ Dyspoezja
---

<p><a href="/">..</a></p>

<h1>Spis treści</h1>

<p>Przeglądaj <a href="#123">rocznikowo</a> lub <a href="#abc">alfabetycznie</a>.</p>

<h2><a name="123"></a> Rocznikowo</h2>

<ul>
  {% assign byYears = site.niewiersze | group_by: "year" | sort: "name" | reverse %}
  {% for year in byYears %}
    <li>
      {{ year.name }} ({{year.items.length}})

      <ul>
        {% for niewiersz in year.items %}
        <li><a href="{{ niewiersz.url }}">{{ niewiersz.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<h2><a name="abc"></a> Alfabetycznie</h2>

<ul>
  {% for niewiersz in site.niewiersze %}
    <li><a href="{{ niewiersz.url }}">{{ niewiersz.title }}</a></li>
  {% endfor %}
</ul>
