html {
  background-color: honeydew;
  color: darkslateblue;
}

a {
  color: olivedrab;
}

a:visited {
  color: darkolivegreen;
}

a:hover {
  color: seagreen;
}

a:active {
  color: mediumseagreen;
}

:focus {
  outline-color: olivedrab;
}

::selection {
  background-color: darkslateblue;
  color: honeydew;
}

html {
  min-height: 100%;
  font-family: "Input Mono", "Office Code Pro", "Source Code Pro", "Fira Mono", "Inconsolata", "Monaco", "Consolas", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", monospace;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/*
clever page scaling with root font size changes:
https://www.smashingmagazine.com/2016/05/fluid-typography/

calc(AZ + (B - A) * (100vw - CZ) / (D - C))
- A: min font size
- B: max font size
- C: min screen size
- D: max screen size
- Z: unit (px, rem, etc.)
*/
html {
  font-size: calc(1rem + (1.5 - 1) * (100vw - 30rem) / (120 - 30));
}

body {
  margin: 1.5rem;
}

h1,
h2,
h3 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}

h1, h2, p, ul, pre, article {
  /* line-height */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

time {
  font-style: italic;
}

ul ul {
  margin: 0;
}
